@import 'const';

.button {
  cursor: pointer;
  transition: 0.3s;

  &.default {
    background: $accentEmerald90;
    padding: 4px 23px;
    background: $accentEmerald90;
    border: 1px solid $accentEmerald90;
    border-radius: 4px;
    font-weight: 600;
    line-height: 22px;
    color: $clearWhite;
    position: relative;

    &:hover {
      background: darken($accentEmerald90, 5%);
    }
  }

  &.link {
    font-size: 14px;
    line-height: 18px;
    color: $heartyRed80;
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px dotted;

    &:hover {
      border-bottom-style: solid;
    }
  }
}

.ripple {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.text {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
