$accentEmerald90: #327680;
$clearWhite: #fff;
$heartyRed80: #ed6852;
$heartyRed70: #d97767;
$vitalGreen30: #becacb;
$vitalGreen90: #244d51;
$vitalGreen50: #91a5a7;
$vitalGreen5: #f5f7f7;
$vitalGreen10: #eaeeee;
$vitalGreen100: #1c383a;
$vitalGreen70: #668386;
$vitalGreen5: #f5f7f7;
